.whatsapp-button {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1;
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e;
    transform: scale(1.1);
  }
  
  .whatsapp-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
  }
  
  .whatsapp-icon {
    fill: white;
  }
  