
        <!-- Service Details Section Start -->
        <section class="service-details-section fix section-padding">
            <div class="container">
                <div class="project-details-wrapper">
                    <div class="row g-4">
                        <div class="col-12 col-lg-4 order-2 order-md-1">
                            <div class="main-sidebar">
                                <div class="single-sidebar-widget">
                                    <div class="project-catagory">
                                        <h3>Architecture Plus</h3>
                                        <p>There are many variations passages a This category focariations of deign</p>
                                        <ul>
                                            <li>
                                                Client
                                                <span>Interior Design</span>
                                            </li>
                                            <li>
                                                Year 
                                                <span>December,2024</span>
                                            </li>
                                            <li>
                                                Author
                                                <span>Shikhon Islam</span>
                                            </li>
                                        </ul>
                                        <div class="social-icon d-flex align-items-center">
                                            <a href="project-details.html#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="project-details.html#"><i class="fab fa-twitter"></i></a>
                                            <a href="project-details.html#"><i class="fab fa-vimeo-v"></i></a>
                                            <a href="project-details.html#"><i class="fab fa-pinterest-p"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 order-1 order-md-2">
                            <div class="project-details-items">
                                <div class="project-image">
                                    <img src="assets/img/project/details-1.jpg" alt="img">
                                </div>
                                <div class="project-details-content">
                                    <h2>Redefining the concept of living</h2>
                                    <p>
                                        There are many variations psages a This category focariations of deign Redefining the an  concept of  This category focuses on the design and construction of buildings and the arrangement furniture and decorative elements within them
                                    </p>
                                    <ul class="d-list">
                                        <li>
                                            <i class="far fa-chevron-double-right"></i>
                                            Transform your space, transform your life
                                        </li>
                                        <li>
                                            <i class="far fa-chevron-double-right"></i>
                                            Elevate your interior, elevate your lifestyle
                                        </li>
                                        <li>
                                            <i class="far fa-chevron-double-right"></i>
                                            Discover the beauty within your walls
                                        </li>
                                        <li>
                                            <i class="far fa-chevron-double-right"></i>
                                            Design your dream space, one room at a time
                                        </li>
                                    </ul>
                                </div>
                                <p class="mt-5">
                                    There are many variations passages a This category focariations of dei Redefining the an  concept of living This category focuses on the desi construction of buildings and the arrangement furniture and decorative elements within them There are many variation passages a This category focariations of deign Redefining the an  concept of living This category focuses on the design
                                </p>
                                <p class="mt-3">
                                    There are many variations passages a This category focariations of deign Redefining the an  concept of living This category focuses on the design and construction of buildingse arrangemen
                                </p>
                                <div class="pro-details-items">
                                    <div class="row g-0">
                                        <div class="col-xxl-6">
                                            <div class="thumb">
                                                <img src="assets/img/project/details-2.jpg" alt="img">
                                            </div>
                                        </div>
                                        <div class="col-xxl-6">
                                            <div class="pro-details-content-items">
                                                <div class="pro-details-cont">
                                                    <h3>The Architect's Touch</h3>
                                                <p>
                                                    There are many variations passages a  category focariations of deign Redefining the  concept of living This category focuses
                                                </p>
                                                </div>
                                                <div class="pro-details-cont">
                                                    <h3>Concept of living</h3>
                                                    <p>
                                                        There are many variations passages a  category focariations of deign Redefining the  concept of living This category focuses
                                                    </p>
                                                    <p class="mt-3">
                                                        There are many variations passages a  category focariations of deign Redefining the  concept of living This category focuses
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Cta Section Start -->
        <section class="cta-banner-section-2">
            <div class="container">
                <div class="cta-banner-wrapper-2">
                    <div class="cta-image wow fadeInUp" data-wow-delay=".3s">
                        <img src="assets/img/cta-img.png" alt="cta-img">
                        <div class="circle-shape">
                            <img src="assets/img/circle-border.png" alt="shape-img">
                        </div>
                    </div>
                    <div class="section-title-area">
                        <div class="section-title mb-0">
                            <h2 class="text-white wow fadeInUp" data-wow-delay=".5s">
                                Crafting spaces that <br> the reflect style
                            </h2>
                        </div>
                        <a href="about.html" class="theme-btn bg-white padding-style wow fadeInUp" data-wow-delay=".7s">
                            Get In Touch
                            <i class="fas fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
